/* this styles for the whole body div */
.wrapper {
    width: 100%;
    margin: auto;
    display: grid;
    gap: 20px;
    grid-template-areas:
      "header"
      "nav"
      "content"
      "sidebar"
      "ad"
      "footer";
  }
  @media (min-width: 700px) {
    .wrapper {
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas:
        "header header  header"
        "nav    content sidebar"
        "nav    content ad"
        "footer footer  footer"
     }
     nav ul {
       flex-direction: column;
     }
  }
    
  .main-head {
    grid-area: header;
    /* background-color: aqua; */
    height: fit-content;
      }
  .main-head h1{
    color: rgb(41, 92, 185);
    font-weight: 700;
    font-size: 80px;
    font-family: 'Cabin Sketch', cursive;
    text-align: center;
    text-shadow: 5px 5px 5px aqua;
  }
    

  /* styles for the main content div */
  .content {
    grid-area: content;
    background:linear-gradient(to bottom,rgba(20, 5, 105, 0.7),rgba(69, 151, 49, 0.6),rgba(27,56,0,.8));
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
  }

  /* styles for the left hand side of the page */
  .main-nav {
    grid-area: nav;
    background-color: lightgreen;
  }
    .main-nav ul li{
      list-style: none;
      padding-top: 60px;
      text-decoration: none;
  }

  /* styles for the left hand side containing table */
  .side {
    display: flex;
    flex-direction: column;
    background-color: chocolate;
    margin: auto;
    width: 300px;
    height:100%;
    padding-top: 23%;
    grid-area: sidebar;
    /*text-align: center;
    margin: initial;
    height: 70%;
    background-color: darkgoldenrod; */
  }

  th{
    color: cyan;
    font-size: 20px;
    font-weight: 700;
  }


  li{
      width: auto;
      height: 30%;
  }

  /* styles for the footer */
  .main-footer {
    grid-area: footer;
    text-align: center;
    height: fit-content;
    background-color: lightseagreen;

  }

  footer{
    background-color: aqua;
    padding-left: 150px;
    padding-right: 150px;
    font-family: 'Akaya Kanadaka', cursive;

      }

  .footer{
    display: flex;
    justify-content: space-between;
        }

  h5{
    font-size: 20px;
    }

  h4{
    color: coral;
    font-weight: 600;
    font-size: 20px;
  }


  .contact1{
        width: 32%;
      }

  .branches{
       width: 32%;
      }

  .offer{
      width: 32%;
    }


  .copy{
      text-align: center;
      font-weight: 700;
      font-size: 20px;
      color: firebrick;
      }
* styles for the form section */
  .calc h4{
      text-align: center;
      color:red;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 700;
      }
  .calc{
    width: 600px;
    height: auto;
    margin-top: 4rem;
    position: absolute;
    top: 55%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 50px chartreuse;
    background-color: white;
  }
  /* @media (max-width: 1178px) {
    .calc{
      width: 300px;
      left: 45%;
    }
  } */

  .form-control{
    width: 100px;
    height: fit-content;

  }

  .button{
    margin: 5px auto;
    text-align: center;
    border: 2px solid rgb(204, 79, 79);
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 15px;
  }
  .blink{
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;font-family: 'Rock Salt', cursive;
    }
  }

