
.wrapper {
    width: 90%;
    margin: auto;
    display: grid;
    gap: 20px;
    grid-template-areas:
      "header"
      "nav"
      "content"
      "sidebar"
      "ad"
      "footer";
  }
  @media (min-width: 700px) {
    .wrapper {
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas:
        "header header  header"
        "nav    content sidebar"
        "nav    content ad"
        "footer footer  footer"
     }
     nav ul {
       flex-direction: column;
     }
  }
    
.main-head {
    grid-area: header;
    background-color: aqua;
    height: 6rem;
  }
  .content {
    grid-area: content;
    background-image: url('/assets/images/img2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
  }
  .main-nav {
    grid-area: nav;
    /* display: block; */
    background-color: lightgreen;
  }
  .main-nav ul li{
      list-style: none;
      padding-top: 60px;
      text-decoration: none;

  }
  .side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: chocolate;
    margin: auto;
    grid-area: sidebar;
    /*text-align: center;
    margin: initial;
    height: 70%;
    background-color: darkgoldenrod; */
  }

  li{
      width: auto;
      height: 30%;
  }
  
  .main-footer {
    grid-area: footer;
    text-align: center;
    height: 10rem;
    background-color: lightseagreen;

  }


  /* styles for clock */
  #clockContainer {
    background-color: darkorange;
    position: relative;
    margin: auto;
    height: 40vw;
    /*to make the height and width responsive*/
    width: 20%;
    background: url('/assets/images/clock.jpg') no-repeat;
    /*setting our background image*/
    background-size: 100%;
}
  
#hour,
#minute,
#second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
  
#hour {
    width: 1.8%;
    height: 9%;
    top: 5%;
    left: 48.48%;
    opacity: 0.8;
}
  
#minute {
    width: 1.6%;
    height: 12%;
    top: 2%;
    left: 48.48%;
    opacity: 0.8;
}
  
#second {
    width: 1%;
    height: 14%;
    top: 0%;
    left: 49.25%;
    opacity: 0.8;
}

.calc h2{
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: 300;
}
.calc{
  margin-top: 5rem;
  width: 500px;
  padding: 40px;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
  border-radius: 40px;
  border: 2px solid #3498db;
  transition: 0.25s;
}
.button{
  border: 0;
  background: none;
  display: flex;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc;
  padding: 14px 40px;
  outline: none;
  color: antiquewhite;
  border-radius: 24px;
  /* transition: 0.25s; */
}


  /* footer styles */
  /* .main {
    max-height: 550px;;
    background-color: #292c2f;
    color: white;
    font-size: 38pt;
    text-align: center;
    line-height: 550px;
   }
   footer{
    position: fixed;
    bottom: 0;
   }
   .footer-distributed{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 80%;
    text-align: left;
    font: bold 16px sans-serif;
    
    padding: 55px 50px;
    margin-top: 80px;
   }
    
   .footer-distributed .footer-left,
   .footer-distributed .footer-center,
   .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
   }
    
   .footer-distributed .footer-left{
    width: 40%;
   }
    
   .footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
   }
    
   .footer-distributed h3 span{
    color:  #5383d3;
   }
    
    
   .footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
   }
    
   .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
   }
    
   .footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
   }
    
    
   .footer-distributed .footer-center{
    width: 35%;
   }
    
   .footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
   }
    
   .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
   }
    
   .footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
   }
    
   .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
   }
    
   .footer-distributed .footer-center p a{
    color:  #5383d3;
    text-decoration: none;;
   }
    
   .footer-distributed .footer-right{
    width: 20%;
   }
    
   .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
   }
    
   .footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
   }
    
   .footer-distributed .footer-icons{
    margin-top: 25px;
   }
    
   .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
    
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    
    margin-right: 3px;
    margin-bottom: 5px;
   }
    
    
   @media (max-width: 880px) {
    
    .footer-distributed{
    font: bold 14px sans-serif;
    
    }
    
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    }
    
    .footer-distributed .footer-center i{
    margin-left: 0;
    }
    .main {
    line-height: normal;
    font-size: auto;
    }
    
   } */