
.wrapper {
    width: 90%;
    margin: auto;
    display: grid;
    gap: 20px;
    grid-template-areas:
      "header"
      "nav"
      "content"
      "sidebar"
      "ad"
      "footer";
  }
  @media (min-width: 700px) {
    .wrapper {
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas:
        "header header  header"
        "nav    content sidebar"
        "nav    content ad"
        "footer footer  footer"
     }
     nav ul {
       flex-direction: column;
     }
  }
    
.main-head {
    grid-area: header;
    background-color: aqua;
    height: 6rem;
  }
  .content {
    grid-area: content;
    background-image: url('/assets/images/img2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
  }
  .main-nav {
    grid-area: nav;
    /* display: block; */
    background-color: lightgreen;
  }
  .main-nav ul li{
      list-style: none;
      padding-top: 60px;
      text-decoration: none;

  }
  .side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: chocolate;
    margin: auto;
    grid-area: sidebar;
    /*text-align: center;
    margin: initial;
    height: 70%;
    background-color: darkgoldenrod; */
  }

  li{
      width: auto;
      height: 30%;
  }
  
  .main-footer {
    grid-area: footer;
    text-align: center;
    height: 10rem;
    background-color: lightseagreen;

  }


  /* styles for clock */
  #clockContainer {
    background-color: darkorange;
    position: relative;
    margin: auto;
    height: 40vw;
    /*to make the height and width responsive*/
    width: 20%;
    background: url('/assets/images/clock.jpg') no-repeat;
    /*setting our background image*/
    background-size: 100%;
}
  
#hour,
#minute,
#second {
    position: absolute;
    background: chocolate;
    border-radius: 10px;
    transform-origin: bottom;
}
  
#hour {
    width: 1.8%;
    height: 9%;
    top: 5%;
    left: 48.48%;
    opacity: 0.8;
}
  
#minute {
    width: 1.6%;
    height: 12%;
    top: 2%;
    left: 48.48%;
    opacity: 0.8;
}
  
#second {
    width: 1%;
    height: 14%;
    top: 0%;
    left: 49.25%;
    opacity: 0.8;
}

